body {
  height: 100vh;
  font-family: Manrope, sans-serif;
  background-color: hsl(210, 46%, 95%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;

  width: 55%;
}

.image-container {
  max-height: auto;
  border-radius: 10px 0 0 10px;
}

.image-container img {
  max-width: 300px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
  object-position: 10% 100%;
}

.text-container {
  padding: 40px;
  background-color: white;
  border-radius: 0 10px 10px 0;

  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 0;
  color: hsl(217, 19%, 35%);
  font-size: 20px;
}

.description {
  color: hsl(214, 17%, 51%);
  font-size: 13px;
  margin-top: 0;

  flex: 1;
}

.text-container img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 20px;
}

.author {
  display: flex;
}

.author-info {
  flex: 1;
}

.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  font-size: 13px;
}

.date {
  color: hsl(212, 23%, 69%);
  font-size: 16px;
  font-size: 13px;
}

button {
  background-color: hsl(210, 46%, 95%);
  border: none;
  border-radius: 100%;
  padding: 20px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.share img{
  width: 16px;
  height: 16px;
  margin-right: 0;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -75px;
  visibility: hidden;

  width: 180px;
  background-color: hsl(217, 19%, 35%);
  padding: 20px 40px;
  color: hsl(212, 23%, 69%);
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -14px;
  border-width: 14px;
  border-style: solid;
  border-color:  hsl(217, 19%, 35%) transparent transparent transparent;
}

.tooltiptext img {
  border-radius: 0;
  width: 20px;
  height: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 375px) {

  main {
    flex-direction: column;
    width: 90%;
  }

  .image-container {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .image-container img {
    border-radius: 10px 10px 0 0;
    max-width: 323px;
    aspect-ratio: 3 / 2;
    object-position: top;
  }

  .text-container {
    border-radius: 0 0 10px 10px;
    padding-bottom: 20px;
    position: relative;
  }

  .description {
    margin-bottom: 24px;
  }

  .active-author {
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 0 0 10px 10px;

    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;

    align-items: center;
  }

  .active {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: hsl(217, 19%, 35%);
  }

  .active div {
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(212, 23%, 69%);
    font-size: 12px;
  }

  .active-btn {
    padding: 10px;
    background-color: white;
  }

  span img,
  button {
    cursor: pointer;
  }

  footer {
    position: static;
  }
}